<!-- @format -->

<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />

<div class="page--home home">
	<section class="hero" data-hero aria-labelledby="hero-title">
		<picture class="hero__picture">
			<source srcset="@img/hero/hero-image-small.png" media="(max-width: 480px)" />
			<source srcset="@img/hero/hero-image-mobile.png" media="(max-width: 768px)" />
			<source srcset="@img/hero/hero-image-tablet.png" media="(max-width: 992px)" />
			<img class="hero__image" src="@img/hero/hero-image-desktop.png" alt="" />
		</picture>

		<div class="hero__decor decor-hero" aria-hidden="true">
			<div class="decor-hero__left">
				<svg width="632" height="1080" viewBox="0 0 632 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g filter="url(#filter0_ddd_1353_9243)">
						<path d="M-215.05 -208.263L-64.5774 30.6019L-89.7173 43.1352L60.7558 282L35.616 294.533L186.089 533.398L160.949 545.932L311.422 784.797L286.282 797.33L436.755 1036.19L411.616 1048.73L562.089 1287.59" stroke="#FC6200" stroke-width="2.85714" />
					</g>
					<defs>
						<filter id="filter0_ddd_1353_9243" x="-284.831" y="-277.596" width="916.699" height="1634.52" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix" />
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
							<feOffset />
							<feGaussianBlur stdDeviation="34.2857" />
							<feComposite in2="hardAlpha" operator="out" />
							<feColorMatrix type="matrix" values="0 0 0 0 0.988235 0 0 0 0 0.384314 0 0 0 0 0 0 0 0 0.5 0" />
							<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1353_9243" />
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
							<feOffset />
							<feGaussianBlur stdDeviation="25.7143" />
							<feComposite in2="hardAlpha" operator="out" />
							<feColorMatrix type="matrix" values="0 0 0 0 0.988235 0 0 0 0 0.384314 0 0 0 0 0 0 0 0 0.5 0" />
							<feBlend mode="normal" in2="effect1_dropShadow_1353_9243" result="effect2_dropShadow_1353_9243" />
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
							<feOffset />
							<feGaussianBlur stdDeviation="17.1429" />
							<feComposite in2="hardAlpha" operator="out" />
							<feColorMatrix type="matrix" values="0 0 0 0 0.988235 0 0 0 0 0.384314 0 0 0 0 0 0 0 0 0.5 0" />
							<feBlend mode="normal" in2="effect2_dropShadow_1353_9243" result="effect3_dropShadow_1353_9243" />
							<feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow_1353_9243" result="shape" />
						</filter>
					</defs>
				</svg>
			</div>
			<div class="decor-hero__right">
				<svg width="598" height="1080" viewBox="0 0 598 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g filter="url(#filter0_ddd_1353_9245)">
						<path d="M846.919 -208.263L696.446 30.6019L721.586 43.1352L571.113 282L596.253 294.533L445.78 533.398L470.92 545.932L320.447 784.797L345.586 797.33L195.113 1036.19L220.253 1048.73L69.7802 1287.59" stroke="#FC6200" stroke-width="2.85714" />
					</g>
					<defs>
						<filter id="filter0_ddd_1353_9245" x="-1.52588e-05" y="-277.596" width="916.7" height="1634.52" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix" />
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
							<feOffset />
							<feGaussianBlur stdDeviation="34.2857" />
							<feComposite in2="hardAlpha" operator="out" />
							<feColorMatrix type="matrix" values="0 0 0 0 0.988235 0 0 0 0 0.384314 0 0 0 0 0 0 0 0 0.5 0" />
							<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1353_9245" />
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
							<feOffset />
							<feGaussianBlur stdDeviation="25.7143" />
							<feComposite in2="hardAlpha" operator="out" />
							<feColorMatrix type="matrix" values="0 0 0 0 0.988235 0 0 0 0 0.384314 0 0 0 0 0 0 0 0 0.5 0" />
							<feBlend mode="normal" in2="effect1_dropShadow_1353_9245" result="effect2_dropShadow_1353_9245" />
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
							<feOffset />
							<feGaussianBlur stdDeviation="17.1429" />
							<feComposite in2="hardAlpha" operator="out" />
							<feColorMatrix type="matrix" values="0 0 0 0 0.988235 0 0 0 0 0.384314 0 0 0 0 0 0 0 0 0.5 0" />
							<feBlend mode="normal" in2="effect2_dropShadow_1353_9245" result="effect3_dropShadow_1353_9245" />
							<feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow_1353_9245" result="shape" />
						</filter>
					</defs>
				</svg>
			</div>
		</div>

		<div class="hero__container">
			<div class="hero__content">
				<h1 class="hero__title" id="hero-title">
					<span>Mundial 2026:</span>
					<span>¡Te toca ganar a vos!</span>
				</h1>
				<p class="hero__text">
					Elegí tu favorito, aprovechá las mejores cuotas y convertí tu intuición futbolística en plata de verdad
				</p>

				<div class="hero__bonus bonus-items" aria-label="Bonos disponibles">
					<img class="bonus-items__image" src="@img/bonus-items/01.png" alt="850% hasta $3.000.000" />
					<img class="bonus-items__image" src="@img/bonus-items/02.png" alt="76 apuestas gratis" />
				</div>

				<section class="hero__matches matches" aria-labelledby="matches-title">
					<h2 class="matches__title" id="matches-title">Los partidos que se vienen:</h2>
					<div class="matches__slider match-slider" aria-label="Próximos partidos">
						<button class="match-slider__arrow match-slider__arrow--prev" type="button" aria-label="Partido anterior" data-match-slider-prev>
							<span></span>
						</button>
						<div class="match-slider__viewport" data-match-slider-viewport>
							<div class="match-slider__track" data-match-slider-track></div>
						</div>
						<button class="match-slider__arrow match-slider__arrow--next" type="button" aria-label="Siguiente partido" data-match-slider-next>
							<span></span>
						</button>
					</div>
				</section>

				<button class="hero__cta" type="button" data-fls-popup-link="popup">Conseguí tu bono y apostá</button>
			</div>
		</div>
	</section>
</div>
